// Брейкопойнты
$tablet-max-width: 1023px;
$mobile-max-width: 767px;

// Разрешение
$retina-2x-dpi: 144dpi;
$retina-2x-dppx: 1.5dppx;

// Цвета
$brown: #a07b50;
$lightbrown: #ddd0c3;
$white: #ffffff;
$lightgray-background: #1f1c1d;
$darkgray-background: #151313;

// Шрифты
$roboto: "Roboto", "Arial", sans-serif;
$yesevaOne: "Yeseva One", "Georgia", serif;
